#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lotteryBallContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.lotteryBall {
  padding: 15px;
  width: 22px;
  border: 1px solid #447fb9;
  border-radius: 50%;
  margin-right: 10px;
  transition: border-color 0.25s;
}

.lotteryBall:hover {
  box-shadow: 2px 2px 5px rgba(68, 127, 185, 0.5);
}


